.HomeTab {
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: solid var(--accent) 1px;
    width: 100vw;
    max-width: 1850px;
    margin: 1.5rem auto 0;
    padding: 0 1.5rem;
}

    .HomeTab button {
        position: relative;
        margin-right: 2rem;
        padding-bottom: 0.5rem;
        font-size: 1.1rem;
        font-weight: 600;
        color: var(--text-secondary);
        background: none;
        border: none;
        font-family: var(--font-hx);
        cursor: pointer;
        transition: color 0.25s ease;
    }

.HomeTab button:hover {
    color: var(--accent);
}

.tab-buttons button.active {
    color: var(--accent);
}

.tab-buttons button.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--accent-blue);
}


.fade-transition {
    position: relative;
    width: 100%;
    animation: fadeIn 0.4s ease-in-out;
}

main {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100vw;
    max-width: 2000px;
}

.filter-bar {
    display: flex;
    max-width: 1840px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--panel);
    border: 1px solid #2b2f3a;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    margin: 20px 0 16px 7rem;
    flex-wrap: wrap;
    
}

.filter-input {
    font-family: var(--font-hx);
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 0.5rem 0.8rem;
    border-radius: 6px;
    width: 180px;
    transition: 0.3s;
}


.filter-group {
    display: flex;
    flex-direction: row;
    color: #fff;
    font-family: var(--font-hx);
}

.filter-group label {
    font-size: 0.8rem;
    margin-bottom: 4px;
    opacity: 0.8;
 }

    .filter-group input,
    .filter-group select {
        background-color: var(--panel);
        border: 1px solid var(--accent-pink);
        border-radius: 6px;
        padding: 6px 10px;
        font-size: 0.9rem;
        outline: none;
        transition: 0.2s ease-in-out;
    }


    .filter-group input:focus,
    .filter-group select:focus {
        border-color: var(--accent-pink);
        box-shadow: 0 0 4px var(--accent-pink);
    }

 .filter-group select {
    cursor: pointer;
 }

@media (max-width: 768px) {
    .filter-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-group {
        width: 100%;
    }
}